/* text styling */

.text-exbold {
    font-family: "OpenSauceOneExtraBold", "HK Grotesk ExtraBold", "Poppins ExtraBold",
                 "Poppins Latin ExtraBold", "Segoe UI", "SF Pro Text", "Roboto Black",
                 "Ubuntu", Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.text-bold {
    font-family: "OpenSauceOneBold", "HK Grotesk", "Poppins", "Poppins Latin",
                 "Segoe UI", "SF Pro Text", "Roboto", "Ubuntu",
                 Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.text-light {
    font-family: "OpenSauceOneLight", "HK Grotesk Light", "Poppins Light",
                 "Poppins Latin Light", "Segoe UI Light", "SF Pro Text", "Roboto Light",
                 "Ubuntu", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 2.0rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

/* image styling */

img.logo-large {
    height: 2.5rem;
    width: auto
}

img.logo-small {
    height: 1.5rem;
    width: auto
}

/* input styling */

input[type='text'] {
    width: 85%;
    font-size: inherit;
    font-family: inherit;
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
}

input[type='number'] {
    width: 5rem;
    height: 100%;
}

/* button styling */

button {
    font-family: inherit;
    font-size: inherit;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
    transition: all 0.2s ease;
}

button:hover {
    cursor: pointer;
}

button img {
    height: 1.2em;
    width: auto;
    transition: all 0.2s ease;
    pointer-events: none;  /* prevent img from becoming event target */
}

button.btn-green {
    background-color: #008060 !important;
    color: #ffffff;
}

button.btn-green:hover {
    background-color: #004c3f !important;
}

button.btn-red {
    background-color: #d12e49 !important;
    color: #ffffff;
}

button.btn-red:hover {
    background-color: #932033 !important;
}

button.btn-purple {
    background-color: #5e6ebf !important;
    color: #ffffff;
}

button.btn-purple:hover {
    background-color: #202e78 !important;
}

button.btn-disabled,
button.btn-disabled:hover,
button.btn-disabled:active {
    background-color: #d7d8db !important;
    box-shadow: none !important;
    cursor: not-allowed;
}
