<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopify Technical Challenge | Samm Du</title>
    <!--[if IE]><link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}"><![endif]-->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/favicon_180.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon_192.png') }}">
    <meta name="theme-color" content="#004c3f"/>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://fontlibrary.org//face/open-sauce-one" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/minireset.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>
    <main>
        <header>
            <div class="logo-row">
                <img class="logo-large" src="{{ url_for('static', filename='icons/shopify.svg') }}" alt="Shopify">
                <img class="logo-small" src="{{ url_for('static', filename='icons/x.svg') }}" alt="x">
                <a href="https://www.linkedin.com/in/sammdu/" target="_blank" rel="noreferrer noopener" style="display: inline-flex;">
                    <img class="logo-large" src="{{ url_for('static', filename='icons/samm.svg') }}" alt="Samm Du">
                </a>
            </div>
            <h1 class="text-exbold">Inventory Management System</h1>
            <h3>Shopify 2022 Summer Internship Technical Challenge</h3>
        </header>
        <section class="dash">

            {% include 'products.html' %}

        </section>
    </main>
    <footer>
        <article>
            <p class="copy-line text-bold">Copyright &copy; 2022 Samm Du</p>
            <p class="text-light">MIT License</p>
            <p class="text-light">
                Permission is hereby granted, free of charge, to any person obtaining a copy
                of this software and associated documentation files (the "Software"), to deal
                in the Software without restriction, including without limitation the rights
                to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                copies of the Software, and to permit persons to whom the Software is
                furnished to do so, subject to the following conditions:
            </p>
            <p class="text-light">
                The above copyright notice and this permission notice shall be included in all
                copies or substantial portions of the Software.
            </p>
            <p class="text-light">
                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
                SOFTWARE.
            </p>
        </article>
    </footer>
</body>
</html>
