<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopify Technical Challenge | Samm Du</title>
    <!--[if IE]><link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}"><![endif]-->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/favicon_180.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon_192.png') }}">
    <meta name="theme-color" content="#004c3f"/>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://fontlibrary.org//face/open-sauce-one" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/minireset.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>

</body>
</html>
