{% block inventory %}
<table>
    <thead class="text-bold">
        <tr>
            <th class="col-chk" scope="col">
                <input type="checkbox" name="select-all" onchange="selectAllProducts(this.checked);">
            </th>
            <th class="col-nme" scope="col">Product Name</th>
            <th class="col-sku" scope="col">SKU</th>
            <th class="col-qty" scope="col">Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr class="new-product" style="display: none;" id="newProductTmpl">
            <td class="cell-chk" scope="row" data-label="">
                <button class="btn-red" type="button" name="remove-row"
                    onclick="this.parentNode.parentNode.remove(); setAddProductButton(true);">
                    <img src="{{ url_for('static', filename='icons/x.svg') }}" alt="remove">
                </button>
            </td>
            <td class="cell-nme" scope="row" data-label="Product Name">
                <input type="text" name="product-name-new" />
            </td>
            <td class="cell-sku" scope="row" data-label="SKU">
                <input type="text" name="product-sku-new" />
            </td>
            <td class="cell-qty" scope="row" data-label="Quantity">
                Set:
                <span class="qty-and-submit">
                    <input type="number" name="quantity" min="0" />
                    <button class="active btn-green" type="button" name="product-submit"
                        onclick="submitNewProduct();">
                        <img src="{{ url_for('static', filename='icons/save.svg') }}" alt="save">
                    </button>
                </span>
            </td>
        </tr>

        {% for item in inventory.get_all() %}
        <tr id="row-{{ item['sku'] }}">
            <td class="cell-chk" scope="row" data-label="">
                <input type="checkbox" name="select-item" onchange="productSelected(event);">
            </td>

            <td class="cell-nme" scope="row" data-label="Product Name">
                <span class="product-name">{{ item['name'] }}</span>
                <input type="text" name="product-name" value="{{ item['name'] }}"
                    onblur="setTimeout(productNameSwitchState, 250, this.parentNode, 'show');"
                    style="display: none;" />
                <button type="button" name="edit-name" onclick="productNameSwitchState(this.parentNode, 'edit');">
                    <img src="{{ url_for('static', filename='icons/edit.svg') }}" alt="edit">
                </button>
                <button type="button" name="save-name" onclick="renameProduct(event)" style="display: none;">
                    <img src="{{ url_for('static', filename='icons/save.svg') }}" alt="save">
                </button>
            </td>

            <td class="cell-sku" scope="row" data-label="SKU">
                {{ item['sku'] }}
            </td>

            <td class="cell-qty" scope="row" data-label="Quantity">
                <span class="qty-num">{{ item['quantity'] }}</span>
                <span class="qty-adj">
                    <button class="qty-mode" type="button" name="qty-add" onclick="switchQuantityMode(event);">
                        <img src="{{ url_for('static', filename='icons/plus.svg') }}" alt="add">
                    </button>
                    <button class="qty-mode" type="button" name="qty-sub" onclick="switchQuantityMode(event);">
                        <img src="{{ url_for('static', filename='icons/minus.svg') }}" alt="subtract">
                    </button>
                    <button class="qty-mode active" type="button" name="qty-set" onclick="switchQuantityMode(event);">
                        Set
                    </button>
                    <input type="number" name="quantity" min="0" />
                    <button class="active" type="button" name="qty-submit" onclick="updateQuantity(event);">
                        <img src="{{ url_for('static', filename='icons/save.svg') }}" alt="save">
                    </button>
                </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Hidden span to communicate product total count. -->
<span id="productTotal" style="display: none;">{{inventory.get_all()|length}}</span>
{% endblock %}
