{% block products %}
<nav>
    <span class="selected-ops">
        <button class="btn-green" type="button" name="add-product">Add product</button>
        <button class="btn-red" type="button" name="del-selected">Delete selected</button>
        <button class="btn-purple" type="button" name="exp-selected">Export selected</button>
    </span>
    <span class="impex-ops text-bold">
        <button type="button" name="imp-all">
            <img src="{{ url_for('static', filename='icons/import.svg') }}" alt="Import">
            Import from CSV
        </button>
        <button type="button" name="exp-all">
            <img src="{{ url_for('static', filename='icons/export.svg') }}" alt="Export">
            Export all as CSV
        </button>
    </span>
</nav>

<div class="inventory">

    {% include 'inventory.html' %}

</div>
{% endblock %}
